.homeBody {
    background-image: url('./images/hol2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    padding-top: 50px;
    text-align:
    color pink;
    padding: 45px;
}

.socialBody {
    background-image: url('./images/hol2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    padding-top: 50px;
}

.contactBody {
    background-image: url('./images/hol2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    padding-top: 50px;
}

.aboutBody {
    background-image: url('./images/hol2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    padding-top: 50px;
}

.ulTile {
    display: flex;
    justify-content: center;
    list-style-type: none
}

.tileHome {
    width: 300px;
    height: 200px;
    margin: 10px;
}

.tileHome:hover {
    width: 500px;
    height: 700px;
    transform: translateY(-5px);
    box-shadow: 0 12px 16px #000000b8;
    transition: all 0.25s;

}

.ulPages {
    display: flex;
    justify-content:flex-start;
    list-style-type: none
}

.pageHome {
    width: fit-content;
    height: fit-content;
    margin: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 128, 0, 0.662);
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    display: flex;
}

.currentPage {
    width: fit-content;
    height: fit-content;
    margin: 20px;
    text-decoration: none;
    color: rgb(0, 128, 0);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    cursor: pointer;
    font-size: 30px;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    display: flex;
    text-align: center;
    font-size: x-large;
    transform: translateY(-5px);
}

.pageHome:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 16px #000000b8;
    transition: all 0.25s;
    text-align: center;
    font-size: x-large;
}

.textCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px;
    color: white;
}

.ulStyled {
    justify-content: center;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.landingA{
    text-decoration: none;
    color: #fff;
}

.buttonLanding{
    background-color: #32a42e;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin: 2px;
}

.buttonLanding:hover {
    background-color: #2c9737;
}
  
.buttonLanding:active {
    background-color:#388622;
}

.landingBody{
    background-image: url('./images/image0.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.titleLanding{
    background-color: #1e9e1c73;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin: 2px;  
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.elementsLanding{
    position: fixed;
    top: 50%;
    left: 45%;
    margin-top: -50px;
    margin-left: -100px;
}
